.order-list {
    @include container-padding;
    a {
        text-decoration: none;
        color: var(--primary-color);
    }
    .order-card-container {
        border-radius: $border-radius;
        margin-bottom: $margin-bottom;
        border: 1px solid var(--primary-border);
        @include container-padding;
        text-decoration: none;
        background-color: var(--primary-bg);
        .order-name {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: $margin-bottom;
        }
        .order-updated-on-by {
            font-weight: 300;
            font-size: 12px;
            margin-bottom: $margin-bottom;
        }
        .order-items {
            font-weight: 100;
            font-size: 10px;
        }
        &:hover {
            background-color: var(--secondary-bg);
        }
    }
}
