.inventory-page-container {
    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            border-radius: $border-radius;
            margin-bottom: $margin-bottom;
            border: 1px solid var(--primary-border);
            @include container-padding;
            text-decoration: none;
            background-color: var(--primary-bg);
            .inventory-meta-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                & > div {
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                }
                img {
                    width: 100px;
                    border-radius: $border-radius;
                    border: 1px solid var(--primary-border);
                    height: 100px;
                }

                text-transform: capitalize;
                span {
                    border-radius: 10px;
                    font-size: 14px;
                }
                .available {
                    padding: 6px 12px;
                    background-color: green;
                    color: greenyellow;
                }
                .unavailable {
                    padding: 6px;
                    background-color: red;
                    color: #fff;
                }
                .ai-alert {
                    margin-top: 16px;
                    border-radius: 10px;
                    padding: 10px;
                    &.success {
                        background-color: #d7fff1;
                        color: #285943;
                    }
                    &.warning {
                        background-color: #fdd692;
                        color: #ec7357;
                    }
                    &.danger {
                        background-color: #f15c5c;
                        color: #fff;
                    }
                }
            }
        }
    }
}
