.container{
  margin: 14px;
  .item-table{
    .cart-item-card-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      background-color: hsl(0, 0%, 18%);
      padding: 8px;
      margin-bottom: 10px;
      img{
        width: 120px;
        aspect-ratio: 1;
        object-fit: contain;
        border-radius: 8px;
      }
      div{
        padding-left: 8px;
        width: 200px;
        flex-grow: 1;
        text-align: center;
      }
    }
  }
  .total{
    width: 50%;
    margin: auto;
    margin-top: 16px;
    border-top: 2px solid;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}