 
    .success-error-container{
        padding: 30px;
        text-align: center;
        img{
            width: 75px;
            height: 75px;
        } 

        div{
            margin-bottom: 24px;
            font-weight: 500;
            font-size: 18px;
        }
    }