.shop-home-page {
  margin: 14px;
  .shop-name {
    text-align: center;
  }
  .shop-details-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 24px;
    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .shop-info{
      border-left: 1px solid rgb(238, 238, 238);
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 4px;
      padding-left: 24px;
      div{
        font-weight: 300;
        button{
          padding: 4px 8px;
          font-size:x-small;
        }
      }
    }
  }
  .available-items-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .available-items {
    }
    .shop-item-search {
    }
  }
  .items-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin: 40px;
  }  
  .cart-cta{
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 8px 12px;
    border-radius: 24px;
    background: #515151;
    color: white;
  }
}
