.loading-container{
    letter-spacing: 1px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--primary-border);
    padding: 40px 20px;
    justify-content: center;
    margin: $margin-bottom 0;
    border-radius: $border-radius;
    .loading-text{
        line-height: 40px;
        font-weight: 300;
    }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border: 3px solid var(--success-border);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--success-border) transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      
}