
.item-card {
  width: 150px;
  padding: 12px;
  background: #2f2f2f;
  border-radius: 8px;
  height: 240px;
  display: flex;
  flex-direction: column;
  img {
    width: 150px;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 8px;
  }

  .item-details {
    margin-top: 4px;
  }

  .price-and-counter {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 6px;
    .counter {
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .count-add-button,
      .count-minus-button {
        width: 25px;
        padding: 4px;
        cursor: pointer;
      }
      
      .item-add-btn {
        width: 100%;
        padding: 4px;
        cursor: pointer;
      }
    }
  }
  .out-of-stock-box{
    .out-of-stock{
      padding: 5px 2px;
      border-radius: 2px;
      background: #2f2f2f;
    }
    button{
      width: 100%;
      font-size: small;
      padding: 4px 8px;
    }
  }
}